@font-face {
  font-family: 'Gotham-black';
  src: url(../assets/fonts/gotham-black.woff2) format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'Gotham-bold';
  src: url(../assets/fonts/gotham-bold.woff2) format('woff2');
  font-weight: 700;
}

@font-face {
  font-family: 'Gotham-book';
  src: url(../assets/fonts/gotham-book.woff2) format('woff2');
  font-weight: 300;
}

@font-face {
  font-family: 'Gotham-light';
  src: url(../assets/fonts/gotham-light.woff2) format('woff2');
  font-weight: 200;
}
