<header class="header">
  <picture class="header__image">
    <img
      ngSrc="assets/images/logo/logo.svg"
      height="54"
      width="146"
      alt="Logotipo da Smartfit, onde 'smart' está escrito em branco, e o 'fit' em amarelo"
      class="header__logo"
    />
  </picture>
  <section class="header__container container">
    <div class="header__information">
      <div>
        <h1 class="header__title">Reabertura</h1>
        <h2 class="header__subheading">smart fit</h2>
      </div>
      <span role="presentation"></span>
    </div>
    <h3>
      O horário de funcionamento das nossas unidades está seguindo os decretos
      de cada município. Por isso, confira aqui se a sua unidade está aberta e
      as medidas de segurança que estamos seguindo.
    </h3>
  </section>
</header>
